body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
  background-color: rgb(99, 99, 161);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.CartWidget{
  display: flex;
}
.logo{
  width: 200px;
  margin-left: 10%;
}
nav ul{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
}
nav ul a{
  color: rgb(255, 255, 85);
  text-decoration: none;
  margin: 2%;
  display: flex;
  font-size: 120%;
}
nav ul a:hover{
  color: rgb(255, 196, 0);
}
.ItemListContainer{
  text-align: center;
  font-size: 200%;
  margin: 5%;
  color: rgb(255, 196, 0);
}
.galeria{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1%;
}
.card{
  display: grid;
  grid-template-columns: repeat(1, 37%) 1fr;
  width: 95%;
  font-size: 80%;
  justify-content: center;
  border: none;
}
.cardItem{
  margin: 10%;
}
.blockCard{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pack{
  width: 165px;
}
.packItem{
  width: 50%;
}
.itemTitulo{
  color: rgb(99, 99, 161);
}
.itemPrecio{
  color:rgb(255, 196, 0);
}
.botonesCarrito{
  display: flex;
  justify-content: center;
}
.buttons{
  margin-bottom: 12%;
}
.buttonRS{
  background-color: transparent;
  border: none;
  margin-left: 8%;
  margin-right: 8%;
}
.buttonCarrito{
  background-color: rgb(99, 99, 161);
  color: rgb(255, 255, 85);
  border: none;
  border-radius: 3px;
  width: 25%;
  margin: 2%;
}
.buttonCarrito:hover{
  color: rgb(255, 196, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.buttonMas{
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 70%;
  color: rgb(99, 99, 161);
  margin-right: 15%;
}
.buttonMas:hover{
  color: rgb(255, 196, 0);
}
.cardMas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.linkMas{
  text-decoration: none;
}
.listCart{
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 2%;
  margin-left: 7%;
  margin-right: 7%;
}
.imgListCart{
  width: 200px;
}
.listCartBody{
  margin-top: 5%;
}
.listCartButtom{
  margin-left: 45%;
  background-color: rgb(99, 99, 161);
  color: rgb(255, 255, 85);
  border: none;
  border-radius: 3px;
  width: 25%;
}
.listCartButtom:hover{
  color: rgb(255, 196, 0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.msjVacio{
  display: flex;
  justify-content: center;
  font-size: 280%;
  margin-top: 10%;
  color: rgba(99, 99, 161, 0.741);
}
.cartTotal{
  margin: 7%;
}
.cartTotal div{
  display: flex;
  justify-content: space-between;
  margin: 3px;
  color: rgb(99, 99, 161);
  padding: 1%;
  border-bottom: solid 3px rgb(255, 196, 0);
}
.divButtonFinalizar{
  display: flex;
  justify-content: center;
}
